openapi: 3.0.0
info:
  title: Cappit
  description: Hosted API key & rate limit manager with proxy capabilities
  version: 1.0.0

servers:
  - url: https://api.cappit.com/v1

tags:
  - name: Auth
  - name: API Keys
  - name: Rate Limits
  - name: Proxy

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Created

  /auth/login:
    post:
      tags: [Auth]
      summary: Login and receive JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: JWT token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string

  /apikeys:
    get:
      tags: [API Keys]
      summary: List API keys for user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys

    post:
      tags: [API Keys]
      summary: Create new API key
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, base_url]
              properties:
                name:
                  type: string
                base_url:
                  type: string
      responses:
        '201':
          description: API key created

  /apikeys/{id}:
    delete:
      tags: [API Keys]
      summary: Delete API key
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deleted

  /apikeys/{id}/limits:
    put:
      tags: [Rate Limits]
      summary: Set or update rate limits
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                per_minute:
                  type: integer
                per_hour:
                  type: integer
                per_day:
                  type: integer
                per_month:
                  type: integer
      responses:
        '200':
          description: Updated

  /proxy/{apikey}/{path}:
    get:
      tags: [Proxy]
      summary: Forward GET request to backend if within limits
      parameters:
        - name: apikey
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Proxied response
        '429':
          description: Rate limit exceeded

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
